* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background: #e6e6e6;
    overflow: hidden;
}

a {
    text-decoration: none;
    font-size: 24px;
    color: #666;
}

.list {
    background: rgb(240, 240, 240);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 5px 5px 40px 5px;
    height: calc(100vh - 200px);
    overflow: auto;
}

.card-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    cursor: pointer;
    color: #666;
}

.spacer {
    flex: 1;
}

#nav {
    margin: 20px;
}

#nav a {
    margin: 0 3px 0 3px;
}

a:visited {
    color: #666;
}

#nav a:hover {
    text-decoration: underline;
}

#nav a.router-link-exact-active {
    color: #42b983;
    text-decoration: none;
    cursor: default;
}